.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 3em;
}

.App-header {
  text-align: center;
  background-color: #1890ff;
  font-size: large;
}


.App-title {
  color: #fff;
}

.search {
  padding-left: 2em;
  padding-right: 2em;
}

.search-bar {
  margin: 0 auto;
  padding-top:2em;
}

.search-results {
}

.desc-icon {
  padding-right:1em;
}

.ant-collapse-header {
  margin-top: 0;
  margin-bottom: .5em;
  font-weight: 500;
}

.author {
  font-style: italic;
}

.pagination {
  padding: 1em;
  margin: 0 auto;
  max-width: 15em
}
